body{
	margin:0;
} 
h1{
	margin:0;
	padding:5px;
}
p{
	padding:5px;
}
main{
	font-family:cursive;
	display:grid;
	grid-template-areas: "b2 b1 b1 b1 b1 b1 b3"
						 "b2 b4 b4 b5 b5 b5 b3"
						 "b2 b4 b4 b6 b6 b6 b3"
						 "b2 b7 b7 b7 b7 b7 b3";
}

.block1{
	background:#2b37da;
	grid-area:b1;
	width: 800px;
}
.block2{
	background: #73d5f3;
	grid-area: b2;
	min-width: 100px;
}
.block3{
	background: #5a8aaa;
	grid-area: b3;
	min-width: 100px;
}
.block4{
	background:#065a7a;
	grid-area: b4;
	width: 300px;
}
.block5{
	background:#1b434d;
	grid-area: b5;
	width: 500px;
}
.block6{
	text-align: center;
	background:#1a3c99;
	grid-area: b6;
	width: 500px;
}
.block7{
	text-align: center;
	background:#47a5e4;
	grid-area: b7;
	width:800px;
}
@media(max-width: 1000px)
{
	.block1,.block2,.block3,.block4,.block5,.block6,.block7,.block8{
        width:auto;
	}
	.block2,.block3{
		min-width: 50px;
	}
}
@media (max-width:710px)
{
	main{
	grid-template-areas: "b2 b1 b1 b1 b1 b3"
                         "b2 b4 b4 b5 b5 b3"
                         "b2 b4 b4 b6 b6 b3"
                         "b2 b7 b7 b7 b7 b3";
    }
    .block1,.block2,.block3,.block4,.block5,.block6,.block7,.block8{
        width:auto;
    }
}
@media (max-width:600px)
{
	.block2, .block3 {
		min-width: 20px;
	}

	main{
	grid-template-areas: "b2 b1 b3"
						 "b2 b4 b3"
						 "b2 b4 b3"
						 "b2 b5 b3"
                         "b2 b6 b3"
                         "b2 b7 b3"
    }
    .block1,.block2,.block3,.block4,.block5,.block6,.block7,.block8{
        width:auto;
    }
}
